$accent-color: linear-gradient(51deg, #06F 0%, #004FC6 100%);
$accent-color2: #CBE6FF;
$accent-color3: #E7F0F8;
$accent-color4: #fff;
$accent-color5: #06F;
$accent-color6: #29D281;
$accent-color7: #f00;
$accent-color8: #0999ff;
$accent-color9: #FFFCFB;
$accent-color10: #D9D9D9;


$font-color: #000;
$font-color2: #242424;
$font-color4: #7F8C98;


$font-size: 32px;
$font-size2: 18px;
$font-size3: 24px;
$font-size4: 22px;
$font-size5: 20px;
$font-size6: 16px;
$font-size7: 14px;
$font-size8: 13px;
$font-size9: 19px;
$font-size10: 12px;
$font-size11: 28px;


$font-weigth: 500;
$font-weigth2: 600;
$font-weigth3: 700;
$font-weigth4: 400;

$line-height: 100.9%;
$line-height2: 135%;

$border-radius: 10px;
$border-radius2: 12px;
$border-radius3: 20px;
$border-radius4: 18px;
$border-radius5: 15px;

$min-height: 43px;
$min-height2: 45px;

$padding: 26px;
$padding2: 25px;

$max-width: 1220px;
$max-width2: 1227px;
$max-width3: 240px;

//breakpoints
$breakpoint1548: 1548px;
$breakpoint1539: 1539px;
$breakpoint1524: 1524px;
$breakpoint1440: 1440px;
$breakpoint1430: 1430px;
$breakpoint1431: 1431px;
$breakpoint1317: 1317px;
$breakpoint1280: 1280px;
$breakpoint1093: 1093px;
$breakpoint728: 728px;
$breakpoint707: 707px;
$breakpoint663: 663px;
$breakpoint374: 374px;
$breakpoint366: 366px;
$breakpoint360: 360px;