.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(178, 178, 178, 0.19);
    backdrop-filter: blur(5px);
    transition: .3s ease-out;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    @media (max-width: $breakpoint1280) {
        padding: 0 25px;
    }
}
.popup-wrapper.show {
    opacity: unset;
    visibility: unset;
}
.popup {
    width: 100%;
    max-width: 560px;
    padding: 50px;
    background-color: $accent-color4;
    border-radius: $border-radius3;
    @media (max-width: $breakpoint1280) {
        padding: 25px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 29px;
    }
    &__title {
        font-size: 30px;
        font-weight: $font-weigth;
        color: $font-color2;
        @media (max-width: $breakpoint1280) {
            font-size: $font-size2;
            font-weight: $font-weigth2;
        }
    }
    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        background-color: #06F;
    }
    &__input-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;
        @media (max-width: $breakpoint1280) {
            margin-bottom: 20px;
        }
    }
    &__input {
        padding-bottom: 10px;
        border-bottom: 2px solid $accent-color5;
        font-size: $font-size5;
        color: $font-color4;
        font-weight: $font-weigth4;
        @media (max-width: $breakpoint1280) {
            font-size: $font-size7;
            padding-bottom: 7px;
        }
    }
    &__accept {
        display: inline-flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 35px;
        @media (max-width: $breakpoint1280) {
            column-gap: 10px;
            margin-bottom: 30px;
            font-size: 10px;
        }
    }
    &__checkbox {
        position: relative;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1.5px solid $accent-color5;
        border-radius: 3px;
        transition: .3s ease-out;
        flex-shrink: 0;
        cursor: pointer;
        &::before {
            position: absolute;
            content: url('../../images/home/content-icon2.svg');
            height: 8px;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease-out;
            opacity: 0;
            @media (max-width: $breakpoint1280) {
                height: 5px;
            }
        }
        &:checked {
            background-color: $accent-color5;
        }
        &:checked::before {
            opacity: unset;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $accent-color5;
        border-radius: 8px;
        padding: 13px 10px;
        font-size: $font-size5;
        font-weight: $font-weigth;
        color: $accent-color9;
        transition: .3s ease-out;
        @media (max-width: $breakpoint1280) {
           padding: 8px;
           font-size: $font-size6;
        }
        &:hover {
            background-color: $accent-color8;
            transition: .3s ease-out;
        }
    }
}
.rating {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 25px;
    @media (max-width: $breakpoint1280) {
        row-gap: 15px;
        margin-bottom: 15px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size3;
        font-weight: $font-weigth4;
        @media (max-width: $breakpoint1280) {
            font-size: $font-size7;
        }
    }
    &__stars {
        display: flex;
        column-gap: 3px;
    }
}
.star-svg {
    width: 35px;
    height: 35px;
    @media (max-width: $breakpoint1280) {
        width: 25px;
        height: 25px;
        @media (max-width: $breakpoint1280) {
           width: 16px;
           height: 16px;
        }
    }
}
.star,.star-middle,.star-bottom {
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: .3s ease-out;
}