/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
}
html {
	overflow-x: hidden;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-color: #E7F0F8;
}

.container {
	max-width: 1570px;
	margin: 0 auto;
	padding: 0 25px;
}

.swiper {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
